<div id="headerwrap">
    <div id="indexwrap">
        <div class="row">
            <div style="margin-left:20%; margin-top:10%;">
                <h1 class="text-left" style="font-size: 4em; opacity: 0.8;">Chengsi's Blog</h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:1%;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-left">Some people have always been eager to change the world. But I'll just settle for understanding it first.</h2>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->